*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.header-things{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 5px 5px;
  
  width: 100%;
}
.ull a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  

}
.ull{
  display: flex;
  list-style: none;
  gap: 3px;
}
.button a{
  text-decoration: none;
color: white;
  background-color: blue;
  display: inline-block;
  padding: 5px 10px;
  border: none;
  
}
.banner .button{
  margin-bottom: 20px;
}
.button a:hover{
  color: green;
}

.logoimg img{
  height: 30px;
  color: white;
  width: auto;
  
}
.logoimg{
  display: flex;
  align-items: center;
  gap: 5px;
 
 
}
.logoimg span{
  font-weight: bold;
  font-size: 15px;
  
}
.banner{
  
  display: flex;
  flex-direction: column;
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position:center;
  justify-content: center; 
  min-height: 100vh;
  
  width: 100%;
  
  align-items: center;
  margin-bottom: 50px;
  
}
#white{
  color: white;
}
.banner h1{
  margin-bottom: 5px;
  margin-top: 50px;
  color: white;
}
.banner p{
  max-width: 500px;
  margin-bottom: 400px;
}
#details{
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
 width: 100%;
  gap: 20px;
  justify-items: center;
  padding: 10px 10px;
  margin-bottom: 50px;
  
}
#details .blu{
  color: blue;
}
.meet{
  margin-bottom: 20px;
  grid-column: 1 / -1;
  color: green;
}
.card img{
  width: 100%;
}
.card p{
color: black;
}

.prizing .secu{
  margin-left: 40px;
  margin-bottom: 5px;
  color:  green;
}
.prizing{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.bott-part{
  display: flex;
  flex-direction: column;
  order: -1;
  margin-bottom: 5px;
}
.allcard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 50px;
 
  
}
.allcard .pri-c-1, .black-card,.pri-c-3{
  display: flex;
  
  flex-direction: column;
  border:1px solid blue;
  justify-content: center;
align-items:  center;
  flex:1;
  
 
  height: auto;
  width: 100%;
 
  box-sizing: border-box;
 
}
.allcard  ul{
  list-style-position: inside;
  padding-left:0;
  margin: 0;
text-align: left;
display: inline-block;
  padding:0;
  padding: 0;
  
}
.pri-c-3 .button {
  margin-bottom: 10px;
}
.pri-c-1 .button{
  margin-top: 20px;
}
 .po{
  margin-top: 20px;
  margin-bottom: 20px;
  color: blue;
}
.black-card .button{
  margin-top: px;
}
.allcard .black-card{
  background-color: black;
  color: white;
}
.foot-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footer p{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #666;
}
.footer {
  background-color: ghostwhite;
}
.links-social a {
  font-size:35px;
}
